/*Begin tablet.*/
@media screen and (min-width: 641px) and (max-width:960px) {

    body {
        background-image: linear-gradient(lightgray, lightgrey, lightblue, lightblue, lightpink, lightpink);
    }
    .desktop {
        display: none;
    }

    header img {
        width: 850px;
        max-height: 30pxcm;
        
    }

    nav ul li {
        padding: 1em;
        margin: .25em;
        border-top: solid .2em black;
        border-bottom: solid .2em black;
        display: inline-block; /*This lists items horizontally and allow them to stretch*/
        border-radius: 1em;
        box-shadow: 0.5em 0.5em 0.5em black;
        min-width: 12%;
        margin-left: 3.5em;
    }

    img.portrait {
        width: 500px
    }

    figure {
        box-shadow: 0.5em 0.5em 0.5em black;
    }

    main {
        box-shadow: 0.5em 0.5em 0.5em black;
    }

    main div .center {
        width:60%;
        border-right: 0.3em solid black;
    }

    footer {
        margin-top: 5em;
        text-align: center;
    }


}
/*End tablet.*/
